<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Welcome</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
      var numberOfCarBrands = [[${#arrays.length(carBrands)}]];
      
      console.log("Number of cars brands is: " + numberOfCarBrands);
      
      if (numberOfCarBrands < 5)
      {
    	console.log("we must have removed a car brand from the list.");
      }
      
    /*]]>*/
    </script>
  </head>
  <body>
    <h2 th:text="${'Welcome to my Thymeleaf Enabled HTML file'}">Welcome to my HTML file</h2>
    <div th:text="|${message}: Text from Thymeleaf inserted into our div|">
      Text inside of the div that will be replaced by Thymeleaf when we are running in a server environment.
    </div>
    
    <div th:inline="text">Today's date is: [[${#dates.format(today, 'MMM dd, yyyy h:mm a')}]]</div>
    
    <div th:text="|Cost: ${#numbers.formatDecimal(money, 1, 'COMMA', 2, 'POINT')}|"></div>
    
    <h2>Example Car Brands</h2>
    
    <ul>
      <li th:each="car : ${cars}" th:inline="text">
        [[${car.brand}]] <a th:href="@{/?carBrand={brand}(brand=${car.brand})}" style="margin-left: 0.5em; margin-right: 0.5em;">edit</a> <a th:href="@{/del/{brand}(brand=${car.brand})}">del</a>
        <ul>
          <li th:each="carModel : ${car.models}" th:text="${carModel}"></li>
        </ul>
      </li>
    </ul>
    <div th:if="${#lists.isEmpty(cars)}">
      There are no car brands on the model.
    </div>
    <br/>
    
    <form action="" method="post" th:object="${car}">
      <select th:field="*{brand}">
        <option value=""></option>
        <option th:each="carBrand : ${carBrands}" th:value="${carBrand}" th:text="${carBrand}"></option>
      </select>
      <br/>
      <div th:each="carModel, status : ${car.models}">
        Model Name: <input type="text" th:field="*{models[__${status.index}__].name}"/>
        <br/>
        Year: <input type="number" th:field="*{models[__${status.index}__].year}"/>
        <br/>
        <fieldset>
          <legend>Fuel Type</legend>
          <input type="radio" name="fuelType" th:field="*{models[__${status.index}__].fuelType}" value="gas"/> Gas<br/>
          <input type="radio" name="fuelType" th:field="*{models[__${status.index}__].fuelType}" value="deisel"/> Deisel<br/>
          <input type="radio" name="fuelType" th:field="*{models[__${status.index}__].fuelType}" value="electric"/> Electric<br/>
        </fieldset>
      </div>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>