<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Welcome</title>
    <script th:inline="javascript">
    /*<![CDATA[*/
      var numberOfCarBrands = [[${#arrays.length(cars)}]];
      
      console.log("Number of cars brands is: " + numberOfCarBrands);
      
      if (numberOfCarBrands < 5)
      {
    	console.log("we must have removed a car brand from the list.");
      }
      
    /*]]>*/
    </script>
  </head>
  <body>
    <h2 th:text="${'Welcome to my Thymeleaf Enabled HTML file'}">Welcome to my HTML file</h2>
    <div th:text="|${message}: Text from Thymeleaf inserted into our div|">
      Text inside of the div that will be replaced by Thymeleaf when we are running in a server environment.
    </div>
    
    <div th:inline="text">Today's date is: [[${#dates.format(today, 'MMM dd, yyyy h:mm a')}]]</div>
    
    <div th:text="|Cost: ${#numbers.formatDecimal(money, 1, 'COMMA', 2, 'POINT')}|"></div>
    
    <h2>Example Car Brands</h2>
    
    <!-- 
      for (String car : cars)
     -->
    <ul>
      <li th:each="carBrand : ${cars}" th:inline="text">[[${carBrand}]] <a th:href="@{/del/{brand}(brand=${carBrand})}">del</a></li>
    </ul>
    <div th:if="${#lists.isEmpty(cars)}">
      There are no car brands on the model.
    </div>
    
    <form action="" method="post" th:object="${car}">
      <input type="number" th:field="*{year}"/>
      <br/><br/>
      <select th:field="*{brand}">
        <option value=""></option>
        <option th:each="carBrand : ${cars}" th:value="${carBrand}" th:text="${carBrand}">Mercedes</option>
      </select>
      <br/><br/>
      <input type="radio" th:field="*{fuelType}" value="Deisel"/><label for="fuelType1">Deisel</label> 
      <input type="radio" th:field="*{fuelType}" value="Gas"/><label for="fuelType2">Gas</label> 
      <input type="radio" th:field="*{fuelType}" value="Electric"/><label for="fuelType3">Electric</label> 
      <br/><br/>
      <input type="submit"/>
    </form>
  </body>
</html>