<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h2 th:text="${'Welcome to my Thymeleaf Enabled HTML file'}">Welcome to my HTML file</h2>
    <div th:text="|${message}: Text from Thymeleaf inserted into our div|">
      Text inside of the div that will be replaced by Thymeleaf when we are running in a server environment.
    </div>
    
    <h2>Example Car Brands</h2>
    
    <!-- 
      for (String car : cars)
     -->
    <ul>
      <li th:each="carBrand : ${cars}" th:text="${carBrand}">Mercedes</li>
    </ul>
    
    <form action="" method="post" th:object="${car}">
      <input type="number" th:field="*{year}"/>
      <br/><br/>
      <select th:field="*{brand}">
        <option value=""></option>
        <option th:each="carBrand : ${cars}" th:value="${carBrand}" th:text="${carBrand}">Mercedes</option>
      </select>
      <br/><br/>
      <input type="radio" th:field="*{fuelType}" value="Deisel"/><label for="fuelType1">Deisel</label> 
      <input type="radio" th:field="*{fuelType}" value="Gas"/><label for="fuelType2">Gas</label> 
      <input type="radio" th:field="*{fuelType}" value="Electric"/><label for="fuelType3">Electric</label> 
      <br/><br/>
      <input type="submit"/>
    </form>
  </body>
</html>